<table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Idea</th>
      </tr>
    </thead>
    <tbody id="ideas_table">
      <% ideas.forEach((idea) => {%>
      <tr>
        <td><%= idea.time_submitted %></td>
        <td><%= idea.category %></td>
        <td><%= idea.idea %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
