<div class="text-center mb-4">
  <h1 class="h3 mb-3 font-weight-normal">Submit New Idea</h1>
</div>

<form id="new_idea" class="form-signin" action="/submit_category" method="POST">
  <div class="form-label-group">
    <input type="text" class="form-control" name="category" placeholder="Category" list="category_list" id="category"/>
  </div>

  <button type="submit" id="new_idea_btn" class="btn btn-lg btn-success btn-block">Submit Category</button>
</form>
